<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div *ngFor="let item of comics">
    <section class="flex-container">
      <h1 class="title-comic">{{item.title}}</h1>
      <figure class="img-comic"><img class="img-int" src="{{item.img}}" alt=""></figure>
      <span class="lead-comic">{{item.alt}}</span>
      <div class="flex-container-star">
        <span class="lead-calif">Calificación del comic</span>
        <ng-container *ngFor="let star of stars">
          <app-start [starId]="star" [rating]="hoverState || rating" (enter)="enter($event)" (leave)="leave($event)"
            (bigClick)="updateRating(star)" (click) = "showSuccess()">
          </app-start>
        </ng-container>
      </div>

    </section> 
    
  </div>
</div>
