.title-comic{
  text-align: center;
  color: #883bff;
  font-size: 40px;
  margin-bottom: 10px;
}
.img-comic{
  display: block;
  height: auto;
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 12px;

  img{
    object-fit: contain;
    width: 100%;
  }
}  
.lead-comic{
  max-width: 400px;
  margin: 0 auto;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 10px;
}  
.flex-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.flex-container-star {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 700px;
  margin: 0 auto 40px;
}
.lead-calif{
  flex: 1 100%;
  text-align: center;
  font-weight: 700;
}

