*{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'icons';
	src:  url('../assets/fonts/icons.eot');
	src:  url('../assets/fonts/icons.eot?7z4ma2#iefix') format('embedded-opentype'),
	  url('../assets/fonts/icons.ttf?7z4ma2') format('truetype'),
	  url('../assets/fonts/icons.woff?7z4ma2') format('woff'),
	  url('../assets/fonts/icons.svg?7z4ma2#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/Avenir-Light.eot');
    src: url('../assets/fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Avenir-Light.woff') format('woff'),
        url('../assets/fonts/Avenir-Light.ttf') format('truetype'),
        url('../assets/fonts/Avenir-Light.svg#Avenir-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-medium';
    src: url('../assets/fonts/Avenir-Medium.eot');
    src: url('../assets/fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Avenir-Medium.woff') format('woff'),
        url('../assets/fonts/Avenir-Medium.ttf') format('truetype'),
        url('../assets/fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/Avenir-Black.eot');
    src: url('../assets/fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Avenir-Black.woff') format('woff'),
        url('../assets/fonts/Avenir-Black.ttf') format('truetype'),
        url('../assets/fonts/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}


i {
	font-family: 'icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
