/* You can add global styles to this file, and also import other style files */
@import 'fonts.css';
@import '~ngx-toastr/toastr.css';
body {
    background-color: #f5f5f5 !important;
    font-family: 'Avenir';
	font-weight: 400;
    color: var(--font-color);
    margin: 0;
}
